<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You should eat at...</h4>
      </div>
      <img src="{{ chosenPlace.image }}" class="col-md-4" alt="teste" class="img-thumbnail" width="250" height="auto">
      <div class="modal-body col-md-8">
        <h3> {{chosenPlace.text }}</h3>
        <p>Distance: {{ chosenPlace.distance }}</p>
        <p>Price: {{ chosenPlace.price }}</p>
        <p>Tips: {{ chosenPlace.tips }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addTip('Really Delicious')">Add Tip</button>
        <button type="button" class="btn btn-danger">Yelp</button>
        <button type="button" class="btn btn-warning">Maps</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->